/*! == MEDIA QUERIES == */


@each $name, $size in $breakpoints {
	
	@media (max-width: #{$size}) {
        .container{
            max-width: #{$size};
        }
		@for $i from 1 through $col-count {
			.container.cols-#{$name}-#{$i} > .col {
				grid-column: span $i;
			}
		}
        @for $gridOffset from 1 to $col-count {
            @for $grid from 1 to $col-count {
                .container.cols-#{$name}-offset-#{$gridOffset}-#{$grid} > .col{
                    grid-column-start:($gridOffset + 1);
                    grid-column-end:(($gridOffset + 1) + $grid);
                }
            }
        }
	    .container.cols-#{$name}-15-9{
	        @include gridTwoCol(15, 9);
	    }
	    .container.cols-#{$name}-24-24{
	        @include gridTwoCol(24, 24);
	    }
	}
}
@each $name, $size in $breakpoints {
	
	@media (max-width: #{$size}) {
        .hide-#{$name}{
			display: none
		}
	}
}



/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {

/*---GLOBALS---*/ 
h1, .h1{font-size:rem-calc(36);}
h2, .h2{font-size:rem-calc(32);}
h3, .h3{font-size:rem-calc(28);}
h4, .h4{font-size:rem-calc(24);}
h5, .h5{font-size:rem-calc(20);}
h6, .h6{font-size:rem-calc(16);}

.three-points{
	.grid-gap{
		grid-gap:rem-calc(16);
	}
}

/*---HEADER---*/
.mobile-nav {
	display: grid;
}
.desktop-nav{
	display: none;
} 

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
  
/*---GLOBALS---*/ 

body {
    font-size: 0.75em;
}
 
/*---HEADER---*/
#headerSpin{
	max-width: rem-calc(250);
	margin-top: rem-calc(50);
}
#home{
	padding-top: rem-calc(50);
	text-align: center;
	.blockquote{
		p{
			&:after{
				display: none;
			}
		}
	}
	#mouse-scroll-anchor{
		display: none;
	}
}
#awarenessSection{
	text-align: center;
	img{
		max-width: rem-calc(250);
	}
}
.three-points{
	text-align: center;
}
#news{
	text-align: center;
	.date{
		&:after{
			display: none;
		}
	}
}
#pilotPartners{
	text-align: center;
	.brands{
		.col{
			padding-bottom:rem-calc(50);
		}
	}
}
#who{
	text-align: center;
	.individual{
		text-align: left;
	}
}
#contact{
	text-align: center;
	img{
		max-size:rem-calc(250);
	}
}

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end medium mq---*/


/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {

/*---GLOBALS---*/
h1, .h1{font-size:rem-calc(28);}
h2, .h2{font-size:rem-calc(26);}
h3, .h3{font-size:rem-calc(22);}
h4, .h4{font-size:rem-calc(20);}
h5, .h5{font-size:rem-calc(18);}
h6, .h6{font-size:rem-calc(14);}

body {
  font-size: 0.65em;
}

.three-points{
	.grid-gap{
		grid-gap:rem-calc(4);
	}
}

.container.grid-gap{
	grid-gap:rem-calc(0);
}

#who{
	text-align: center;
	.individual{
		.info{
			padding:rem-calc(20);
		}
	}
}
/*---HEADER---*/

.offscreen-nav{
	.close{
        top:rem-calc(20);
        right:rem-calc(20);
    }
}

/*---CONTENT---*/
  
/*---FOOTER---*/
footer{
	 .socket {
	 	.colophon{
	 		justify-content: center;
		}
		.silverless{
			display: none;
		}
		.mandatory{
			justify-content: center;
			padding-top:rem-calc(10);
		}
	}
}

}/*---end small mq---*/


/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
  
/*---GLOBALS---*/

/*---HEADER---*/

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end extra small mq---*/


/*===========MAPBOX (640px)==========*/

@media screen and (max-width: 640px) {
	
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
	width: 240px;
	font-size: 15px;
	line-height: 20px;
	max-width: 360px;
}

.mapboxgl-ctrl-geocoder--icon-search {
	top: 8px;
	left: 7px;
	width: 20px;
	height: 20px;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
}

.mapboxgl-ctrl-geocoder--input {
	height: 36px;
    padding: 6px 35px;
}
	
}/*---end mapbox mq---*/