/*! == THEME STYLES == */
/*===========GLOBAL==========*/
h1,
h2,
.h1,
.h2{
    text-transform: uppercase;
    line-height: 0.6;
    font-weight: 700;
}
h1, .h1{
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.h1,
.h2{
    margin-bottom: rem-calc(30);
    line-height: 1;
}
/*===========HEADER==========*/
#eq_connect_logo{
    path{
        fill: white;
    }
    #Path_1, #Path_2{
        fill: none;
    }
    &:hover{
        path{
            fill: $brand-secondary;
            transition: $fastEffect;
        }
        #Path_1, #Path_2{
            fill: none;
            stroke: $brand-secondary;
            transition: $fastEffect;
        }
    }
}
#logo{
    a{
        &:hover{
            #eq_connect_logo{
                path{
                    fill: $brand-secondary;
                    transition: $fastEffect;
                }
                #Path_1, #Path_2{
                    fill: none;
                    stroke: $brand-secondary;
                    transition: $fastEffect;
                }
            }
        }
    }
}
#nav{
    .mainMenu{
        display: flex;
        justify-content: flex-end;
        ul{
            li{
                display:inline-block;
                position:relative;
                a{
                    display:block;
                    padding:rem-calc(10) rem-calc(20);
                }
                &:after{
                    content:'';
                    display:block;
                    transition: $fastEffect;
                    border-bottom:2px solid $brand-secondary;
                    transform-origin:center;
                    position:absolute;
                    bottom:0;
                    left:50%;
                    right:50%;
                }
                &:hover{
                    a{
                        color: $brand-secondary
                    }
                    &:after{
                        transition: $fastEffect;
                        left:0;
                        right:0;
                    }
                }
            }
        }
    }
}
/*===========BODY==========*/
.blockquote{
    p{
        position:relative;
        padding-bottom:rem-calc(20);
        &:after{
            width: rem-calc(15);
            height: 1px;
            background-color:white;
            content: '';
            display: block;
            position:absolute;
            bottom: 0;
            left: 0;
        }
    }
    span{
        color: $brand-secondary;
    }
}
.three-points-number{
    font-size:rem-calc(150);
    -webkit-text-stroke: 1px $brand-secondary;
    color: transparent;

}
.challenge{
    background-position:center right;
    background-repeat:no-repeat;
    background-size:50%;
}
.data{
    background-position:bottom left;
    background-repeat:no-repeat;
    background-size:100%;
}
.news{
    .news-image{
        width: 100%;
        padding-bottom: 75%;
    }
    h3{
        font-size: rem-calc(20);
        font-weight: 200;
        margin-bottom:rem-calc(5);
    }
    .date{
        font-size:rem-calc(12);
        display: block;
        &:after{
            display: block;
            content: '';
            height: 1px;
            width: 10px;
            background-color:white;
            margin-top: rem-calc(15);
        }
    }
}
.brands{
    margin-top:rem-calc(50);
    padding-left:0;
    padding-right:0;
    img{
        height: rem-calc(50);
    }
}
.testimonial{
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
    .testimonial-container{
        background-color:rgba(black, 0.9);
        padding:rem-calc(20);
    }
}
/*===========FOOTER==========*/
